<%- include("../partials/header.ejs") %>
    <main class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-8 offset-xs-1 mb-5 mt-5">
                <div class="container bg-white mb-4 mt-4 shadow-sm p-3 mb-5 bg-body rounded">
                    <%- include("../partials/alert.ejs") %>
                        <div class="row">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Trade Category</th>
                                        <th scope="col">Trade Name</th>
                                        <th scope="col">Requested Trade Category</th>
                                        <th scope="col">Requested Trade Name</th>
                                        <th scope="col">Trade Status</th>
                                      </tr>
                                    </thead>
                                <% tradeReq.forEach(req => { %>
                                    <tbody>
                                        <tr>
                                          <td><%= req.trade.name %></td>
                                          <td><%= req.trade.category %></td>
                                          <td><%= req.trade_offer.category %></td>
                                          <td><%= req.trade_offer.name %></td>
                                          <% if (req.is_accepted) { %>
                                            <td>Approved</td>
                                            <% } else { %>
                                                <td>Waiting</td>
                                                <% }%>
                                        </tr>
                                      </tbody>
                                    <% }) %>
                                </table>
                        </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>