<%- include("../partials/header.ejs") %>
    <main class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-8 offset-xs-1">
                <div class="container mb-5 mt-5">
                    <%- include("../partials/alert.ejs") %>
                        <div class="row shadow-sm p-3 mt-2 mb-5 bg-white rounded">
                            <br>
                            <% if (user) { %>
                                <h2 class="text-center mt-2">Welcome <%= user.firstName %>!</h2>
                                <h4 class="mt-5 mb-3">Your Profile:</h4>
                                <div class="container bg-white mb-4 mt-0 shadow-sm p-3 bg-body border rounded">
                                    <p class="mt-1 ms-3"><b>First Name:</b> <%= user.firstName %></p>
                                    <p class="mt-1 ms-3"><b>Last Name:</b> <%= user.lastName %></p>
                                    <p class="mt-1 ms-3"><b>Email:</b> <%= user.email %></p>
                                    <div class="mt-2 ms-3">
                                        <form>
                                            <button type="submit" formmethod="GET" formaction="/users/update"
                                                class="btn btn-outline-secondary btn-sm me-2">Update Profile</button>
                                        </form>
                                    </div>
                                </div>
                                <% if (trades.length){ %>
                                    <h4 class="mt-5 mb-3">Your Trades:</h4>
                                    <div class="container bg-white mb-4 mt-0 shadow-sm p-3 bg-body border rounded">
                                        <div class="row">
                                            <% trades.forEach(trade=> { %>
                                                <div class="col-sm-6 col-md-4 mb-4 mt-4">
                                                    <a class="" href="/trades/<%=trade._id%>">
                                                        <img src="/uploads/<%= trade.image %>" alt="<%=trade.name%>"
                                                            class="img-fluid cat-img mx-auto d-block">
                                                    </a>
                                                </div>
                                                <% }) %>
                                        </div>
                                    </div>
                                    <% } else {%>
                                        <p>You have not added any Trades!</p>
                                        <% }%>
                                        <h4 class="mt-5 mb-3">Sent Trade Requests:</h4>
                                        <div class="row ms-1">
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Your Trade Category</th>
                                                    <th scope="col">Your Trade Name</th>
                                                    <th scope="col">Requested Trade Category</th>
                                                    <th scope="col">Requested Trade Name</th>
                                                    <th scope="col">Trade Status</th>
                                                    <th scope="col">Options</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                            <% tradeReq.forEach(req => { %>
                                                    <tr>
                                                      <td><%= req.trade_offer.category %></td>
                                                      <td><%= req.trade_offer.name %></td>
                                                      <td><%= req.trade.category %></td>
                                                      <td><%= req.trade.name %></td>
                                                      <td><%= req.status.toUpperCase() %></td>
                                                      <td><% if(req.status.toUpperCase() === "WAITING" ){ %>
                                                        <form action="/trades/run" method="POST">
                                                          <input type="hidden" id="decision" name="decision" value="withdraw">
                                                          <input type="hidden" id="req_id" name="req_id" value="<%= req._id %>">
                                                          <input type="hidden" id="trade_id" name="trade_id" value="<%= req.trade._id %>">
                                                          <input type="hidden" id="owner_id" name="owner_id" value="<%= req.owner._id %>">
                                                          <input type="hidden" id="trade_offer_id" name="trade_offer_id" value="<%= req.trade_offer._id %>">
                                                          <input type="hidden" id="trade_req_id" name="trade_req_id" value="<%= req.requester._id %>">
                                                        <button type="submit" class="btn btn-outline-danger btn-sm mt-1 mb-2">Withdraw</button>
                                                      </form>
                                                        <% } %>
                                                      </td>
                                                    </tr>
                                                <% }) %>
                                              </tbody>
                                            </table>
                                    </div>
                                    <h4 class="mt-5 mb-3">Received Trade Requests:</h4>
                                        <div class="row ms-1">
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Your Trade Category</th>
                                                    <th scope="col">Your Trade Name</th>
                                                    <th scope="col">Offered Trade Category</th>
                                                    <th scope="col">Offered Trade Name</th>
                                                    <th scope="col">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                            <% tradeRes.forEach(res => { %>
                                                    <tr>
                                                      <td><%= res.trade.name %></td>
                                                      <td><%= res.trade.category %></td>
                                                      <td><%= res.trade_offer.category %></td>
                                                      <td><%= res.trade_offer.name %></td>
                                                      <td>
                                                        <form action="/trades/run" method="POST">
                                                          <input type="hidden" id="req_id" name="req_id" value="<%= res._id %>">
                                                          <input type="hidden" id="trade_id" name="trade_id" value="<%= res.trade._id %>">
                                                          <input type="hidden" id="owner_id" name="owner_id" value="<%= res.owner._id %>">
                                                          <input type="hidden" id="trade_offer_id" name="trade_offer_id" value="<%= res.trade_offer._id %>">
                                                          <input type="hidden" id="trade_req_id" name="trade_req_id" value="<%= res.requester._id %>">
                                                          <input type="hidden" id="decision" name="decision" value="approve">
                                                        <button type="submit" class="btn btn-outline-success btn-sm mt-2 mb-1">Approve</button>
                                                        </form>
                                                        <form action="/trades/run" method="POST">
                                                          <input type="hidden" id="req_id" name="req_id" value="<%= res._id %>">
                                                          <input type="hidden" id="trade_id" name="trade_id" value="<%= res.trade._id %>">
                                                          <input type="hidden" id="owner_id" name="owner_id" value="<%= res.owner._id %>">
                                                          <input type="hidden" id="trade_offer_id" name="trade_offer_id" value="<%= res.trade_offer._id %>">
                                                          <input type="hidden" id="trade_req_id" name="trade_req_id" value="<%= res.requester._id %>">
                                                          <input type="hidden" id="decision" name="decision" value="decline">
                                                        <button type="submit" class="btn btn-outline-danger btn-sm mt-1 mb-2">Decline</button>
                                                      </form>
                                                      </td>
                                                    </tr>
                                                <% }) %>
                                              </tbody>
                                            </table>
                                    </div>
                                            <% } else {%>
                                                <h2>Login to view Profile!</h2>
                                                <% }%>
                        </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>